@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Infini List</h1>
    <p class="lead">The ultimate Collection Holder</p>
    <p><a href="@Url.Action("about", "home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            This is just a little "taste" about this site. If you collect anything at all you can this site to keep track of your collections.
            There is nothing worse than buying the same movie, comic, or video game. I hope anybody can use this site and keep track of different
            collections they own. Get logged in and enjoy!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Contact</h2>
        <p>Just a quick way to get in contact with someone on this site. Considering there is on ME!, it should be pretty easy</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something About Me</h2>
        <p>
            You can check out this link if your into knowing alittle bit about who made the site your checking out. 
           If that isn't your thing just get down to collecting your collections
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>